@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import './styles/variables.css';
body{
  margin: 0;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}
.max-width{
  max-width: 1100px;
  margin: 0px auto;
}
.absolute-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cursor{
  cursor: pointer;
}
.collection-title{
  font-size: 30px;
  margin-bottom: 32px;
  color: var(--heading-text);
  font-weight: 600;
}
.slick-next:before,.slick-prev:before{
  color: var(--gray);
}